body {
  margin-top: 50px;
}

.spacer {
  margin-top: 50px;
}

.feature {
  margin-bottom: 30px;
}

footer {
  margin: 50px 0;
  text-align: center;
}

.jumbotron {
  text-align: center;
}

.nav li {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
  .nav li:hover {
    background-color: #151515;
    color: white;
  }

nav {
  box-shadow: 0px 0px 5px black;
}
